## Patterns

In [1]:
# to print a block of star pattern
for i in range (0,5):# no. of stars in y direction
    for j in range (0,5):# no. of stars in x directions
        print("* ",end="")
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [8]:
# to print B in digital way
for i in range (0,5):
    for j in range (0,5):
        if i==0 or i==4 or i==2 or j==0 or j==4 :# to print stars in these rows 
            print(" *",end="")
        else:
            print("  ",end="")
    print("")

 * * * * *
 *       *
 * * * * *
 *       *
 * * * * *

In [14]:
# to print C in digital way
for i in range (0,5):
    for j in range (0,5):
        if i==0 or i==4 or j==0 :
            print(" *",end="")
    print("")

 * * * * *
 *
 *
 *
 * * * * *

In [30]:
# to print E in digital way
for i in range (0,5):
    for j in range (0,5):
        if i==0 or i==4 or i==2 or j==0 :
            print(" *",end="")
    print("")

 * * * * *
 *
 * * * * *
 *
 * * * * *

In [28]:
# to print F in digital way
for i in range (0,5):
    for j in range (0,5):
        if i==0 or i==2 or j==0 :
            print(" *",end="")
    print("")

 * * * * *
 *
 * * * * *
 *
 *

In [60]:
# to print G in digital way
for i in range(0,5):
    for j in range(0,5):
        if i==0 or i==4 or j==0:
            print(" *",end="")
        elif i==3 and j>1 and j<4:
            print("  ",end="")
        elif i>1 and j>1:
            print(" *",end="")
        else:
            print("  ",end="")
    print("")

 * * * * *
 *
 *   * * *
 *       *
 * * * * *

In [69]:
# to print H in digital way
for i in range(0,5):
    for j in range(0,5):
        if i==2:
            print(" *",end="")
        elif j==0 or j==4:
            print(" *",end="")
        else:
            print("  ",end="")
    print("")

 *       *
 *       *
 * * * * *
 *       *
 *       *

In [70]:
# to print I in digital way
for i in range(0,5):
    for j in range(0,5):
        if i==0 or i==4:
            print(" *",end="")
        elif j==2:
            print(" *",end="")
        else:
            print("  ",end="")
    print("")

 * * * * *
     *
     *
     *
 * * * * *

In [77]:
# to print J in digital way
for i in range(0,5):
    for j in range(0,5):
        if i==0 :
            print(" *",end="")
        elif j==2:
            print(" *",end="")
        elif i==4 and j<2:
            print(" *",end="")
        else:
            print("  ",end="")
    print("")

 * * * * *
     *
     *
     *
 * * *

In [29]:
# to print L in digital way
for i in range (0,5):
    for j in range (0,5):
        if i==4 or j==0 :
            print(" *",end="")
    print("")

 *
 *
 *
 *
 * * * * *

In [6]:
# to print O in digital way
for i in range(0,5):
    for j in range(0,5):
        if i==0 or i==4:
            print(" *",end="")
        elif j==0 or j==4:
            print(" *",end="")
        else:
            print("  ",end="")
    print("")

 * * * * *
 *       *
 *       *
 *       *
 * * * * *

In [68]:
# to print T in digital way
for i in range(0,5):
    for j in range(0,5):
        if i==0 or j==2 :
            print(" *",end="")
        else:
            print("  ",end="")
    print(" ")

 * * * * *
     *
     *
     *
     *

In [31]:
# to print U in digital way
for i in range (0,5):
    for j in range (0,5):
        if i==4:
            print("* ",end="") 
        elif j==0 or j==4:
            print("* ",end="")
        else:
            print(" ",end=" ")
    print("")

*       *
*       *
*       *
*       *
* * * * *

In [64]:
# to print Z in digital way
for i in range(0,5):
    for j in range(0,5):
        if i==0 or i==4:
            print(" *",end="")
        elif i+j==4:
            print(" *",end="")
        else:
            print("  ",end="")
    print(" ")

 * * * * *
       *
     *
   *
 * * * * *

In [9]:
# to print triangle
x=int(input("Enter the number of rows you want :"))# to take user input 

for i in range(0,x+1):# to print exactly the same number of rows entered
    for k in range(x+1,i,-1):# for inverted blank triangle
        print(" ",end="")
    for j in range(0,i):
        print(" *",end="")
    print(" ")

Enter the number of rows you want :26

                           *
                          * *
                         * * *
                        * * * *
                       * * * * *
                      * * * * * *
                     * * * * * * *
                    * * * * * * * *
                   * * * * * * * * *
                  * * * * * * * * * *
                 * * * * * * * * * * *
                * * * * * * * * * * * *
               * * * * * * * * * * * * *
              * * * * * * * * * * * * * *
             * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * *

In [12]:
# to print triangle of capital letters
for i in range(65,91): # 65 is the asci value for alphabet in uppercase
    for k in range(91,i,-1):# for inverted blank triangle
        print(" ",end="")
    for j in range(64,i):# we have to print from starting
        print(chr(i),end=" ") # typecasting for printing char instead of number
    print(" ")

                          A
                         B B
                        C C C
                       D D D D
                      E E E E E
                     F F F F F F
                    G G G G G G G
                   H H H H H H H H
                  I I I I I I I I I
                 J J J J J J J J J J
                K K K K K K K K K K K
               L L L L L L L L L L L L
              M M M M M M M M M M M M M
             N N N N N N N N N N N N N N
            O O O O O O O O O O O O O O O
           P P P P P P P P P P P P P P P P
          Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
         R R R R R R R R R R R R R R R R R R
        S S S S S S S S S S S S S S S S S S S
       T T T T T T T T T T T T T T T T T T T T
      U U U U U U U U U U U U U U U U U U U U U
     V V V V V V V V V V V V V V V V V V V V V V
    W W W W W W W W W W W W W W W W W W W W W W W
   X X X X X X X X X X X X X X X X X X X X X X X X
  Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y
 Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z

In [1]:
n = int(input())
for i in range(65,65+n):
    for j in range(i-64):
        print(chr(i),end=' ')
    print()

5
A
B B
C C C
D D D D
E E E E E